.burgerBtn {
    width: 30px;
    height: 25px;
    margin-left: 10px;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.burgerBtn span {
    position: absolute;
    top: 12px;
    right: 1px;
    width: 30px;
    background-color: black;
    height: 2px;
}

.burgerBtn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    width: 30px;
    background-color: black;
    height: 2px;
}

.burgerBtn::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 1px;
    width: 30px;
    background-color: black;
    height: 2px;
}



