.messages_wrapper {
    display: flex;
    flex-direction: row;
    margin: 30px;

}

.user_dialog_logo {
    margin: 0px 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    transition-duration: 0.5s;
    user-select: none;

}
.user_dialog_logo:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px  10px rgba(0, 0, 0, 0.5);
}

.user_dialog_logo>img {
    user-select: none;
    width: 80px;
    cursor: pointer;
    transition-duration: 0.5s;
    cursor: pointer;
}
.user_dialog_logo>img:hover {

    width: 90px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.user_dialog_name_ {
    margin: 5px 0px 15px 0px;
}

.user_dialog_name_>h3 {
    margin: 0 10px;
    cursor: pointer;
    width: auto;
}

.user_dialog_massage {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    width: auto;
    background-color: rgba(108, 215, 255, 0.45);
    border-radius: 20px;
}