.all_wrapper_profile_textarea {
    margin: 20px;
}

.all_wrapper_profile_textarea>h3 {
    margin: 10px 0;
}

.profile_textarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form_text{
    width: 80%;
}

.textarea {
    border: 1px solid #111;
    margin: 0 10px;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    height: 40px;
    transition-duration: 0.5s;
}

.textarea:focus {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition-duration: 0.5s;
}