.header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    color: white;
    text-shadow: 2px 2px black;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}

.logo {
    width: 40px;
    position: relative;
    bottom: -3px;
    transition-duration: 0.5s;
}

.logo:hover {
    transition-duration: 0.5s;
    transform: rotateY(360deg);
}