.overflow_for_MessagesCompanion {
    height: 70vh;
    overflow: auto;
}

.mess_com_textarea {
    display: flex;
    flex-direction: row;
}

.textarea {
    border: 1px solid #111;
    margin: 0 10px;
    border-radius: 8px;
    padding: 5px;
    width: 80%;
    transition-duration: 0.5s;
}

.textarea:focus {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition-duration: 0.5s;
}