.dialog_friend {
    display: flex;
    flex-direction: row;
}

.user_dialog_logo {
    margin: 5px 10px;
}

.user_dialog_logo>img {
    width: 60px;
    border: 0px solid rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

.user_dialog_name_ {
    margin: 5px 0px 15px 0px;
}

.user_dialog_name_>h3 {
    cursor: pointer;
    width: 30%;
}

.user_dialog_massage {
    white-space: nowrap;
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #666;
    cursor: pointer;
}